.box {
  border-bottom: 1px solid #000000;
  padding:10px 20px 20px;
}

.outer {
  width: 75%;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;

}

.white_button {
  background-color: white;
  border: 1px solid green;
  color: green'
}

.green_button {
  background-color: green;
  color:white;
}

/* #divLeft {
  width: 45%;
  float: left;
  padding: 10px;
}

#divRight {
  width: 45%;
  float: right;
  padding: 10px;
} */

